h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  background-image: linear-gradient(45deg, rgb(156, 14, 156), rgb(44, 44, 194));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

h1 {
  font-size: 2rem;
}
p,
li {
  font-size: 1.5rem;
}

/* Navbar styling */

.mynav,
.myfooter {
  background-image: var(--nav-color);
}

.nav-link {
  color: rgba(255, 255, 255, 0.8) !important;
  font-size: 1.5em;
  margin-right: 5%;
  min-width: fit-content;
}

.nav-link:hover {
  transform: scale(1.2);
  transition: 0.3s;
  color: rgba(255, 255, 255, 1) !important;
}

.mycontainer {
  color: var(--text-color);
  background-color: var(--bg-color);
  min-height: 100vh;
  padding-top: 2%;
  padding-bottom: 2%;
}

@keyframes colourchange {
  0%,
  100% {
    color: white;
  }
  50% {
    background-image: var(--text-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
}

.titlecont {
  display: flex;
  text-align: center;
  flex-direction: column;
  margin-bottom: 10%;
   /* background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("https://miro.medium.com/max/1400/1*eBZfXMuE72uCDtjUZEzZHQ.gif");  */
}
@media screen and (max-width: 768px) {
  .titlecont {
    min-height: min-content;
    margin-bottom: 5%;
  }
}
.title1,
.title2 {
  animation: colourchange 3s linear infinite;
  font-size: 10vw;
}
.title2 {
  animation-delay: 1s;
}
@media screen and (max-width: 768px) {
  .title1,
  .title2 {
    font-size: 25vw;
  }
}

.maincontent {
  text-align: center;
}

.contactchild {
  display: flex;
  align-content: center;
  text-align: center;
  flex-direction: column;
  flex: 33%;
  margin-bottom: 5%;
}
.imagecenter {
  display: "flex";
  justify-content: "space-between";
}

@media screen and (max-width: 992px) {
  .contactchild {
    margin-top: 15%;
    flex: 100%;
  }
}

iframe {
  overflow: hidden;
  border: 0;
  align-self: center;
}

@media screen and (max-width: 768px) {
  iframe {
    max-width: 40vh;
  }
}

ul {
  list-style-type: square;
}

.myfooter {
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: var(--text-color);
}
.myfooter a {
  text-decoration: none;
  color: var(--text-color);
}

.myfooter p {
  font-size: 0.8rem;
}

.movenav {
  margin-right: 10%;
}

.registerbtn {
  background-image: var(--nav-color);
  border: none;
  border-radius: 500px;
  text-align: center;
  padding-left: 3%;
  padding-top: 1%;
  padding-right: 3%;
  align-content: center;
}

.card-body .registerbtn {
  padding-top: 3%;
  padding-left: 7%;
  padding-right: 7%;
  margin-top: 10%;
}

.registerbtn:hover {
  transform: scale(1.2);
  transition: 0.2s linear;
}
.registerbtn p {
  color: whitesmoke;
}

@media screen and (max-width: 992px) {
  .secondarycontent p,
  li {
    font-size: 1rem;
  }
  .registerbtn p {
    font-size: 0.9rem !important;
  }
  .secondarycontent {
    margin-bottom: 5%;
  }
}

.contactchild a {
  text-decoration: none;
  font-size: 1.5rem;
}
footer p {
  display: flex;
  align-self: flex-start;
  margin-left: 1%;
  margin-bottom: -1%;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.7);
}

@media screen and (max-width: 768px) {
  footer a,
  footer i,
  footer p {
    font-size: 0.8rem;
  }
  footer strong {
    font-size: 1rem;
  }
  footer p {
    margin-top: 5%;
  }
}

.addresscontainer {
  display: "flex";
  flex-direction: "row";
  justify-content: "space-evenly";
}

.secondarycontent h1,
.secondarycontent p,
.secondarycontent li {
  color: white;
}
.maincontent h1 {
  color: white;
  font-size: 3rem;
  font-weight: bolder;
}
@media screen and (max-width: 768px) {
  .maincontent h1 {
    font-size: 2rem;
  }
  .centerbtn {
    display: flex;
    align-content: center;
    align-self: center;
    justify-content: center;
    text-align: center;
  }
  .centerbtn p {
    font-size: 1rem;
  }
  .registerbtn {
    padding-top: 3%;
    margin-left: 2%;
    margin-right: 3%;
  }
}

.card-text,
.card-title {
  color: black;
}

.eventcontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  flex: 25%;
  flex-grow: 1;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 3%;
}

@media screen and (max-width: 992px) {
  .eventcontainer {
    flex-direction: column;
    align-items: center;
  }
  .card {
    flex: 100%;
    flex-grow: 1;
    margin-bottom: 10%;
  }
}
.card-title h2 {
  font-size: 2rem;
  color: black;
}
.card-body p {
  font-size: 1.2rem;
}

.maincontent img:hover {
  opacity: 0.75;
  transition: 0.25s linear;
  transform: scale(1.04);
}

@keyframes hiding {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    position: absolute;
    height: 0;
  }
}
.hideimg {
  animation: hiding 1s;
  animation-fill-mode: forwards;
}

@keyframes showing {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    height: fit-content;
  }
}

.showimg {
  animation: showing 1s forwards;
}

.card-body {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.circleimg {
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  height: 40%;
  width: 40%;
  max-height: 40%;
  max-width: 40%;
  margin-bottom: 5%;
}
@media screen and (max-width: 768px) {
  .circleimg {
    height: 60%;
    width: 60%;
    max-height: 60%;
    max-width: 60%;
  }
}

.circleimg:hover {
  transform: scale(1.2);
  transition: 0.5s;
}

.fourohfourcontainer {
  text-align: center;
}
.fourohfourcontainer h1 {
  font-size: 25rem;
}
@media screen and (max-width: 768px) {
  .fourohfourcontainer h1 {
    font-size: 50vw;
  }
}

p {
  color: white;
  font-size: 1.2rem;
}
@media screen and (max-width: 768px) {
  p {
    font-size: 1rem;
  }
}
.maincontent h2 {
  color: white;
}

.sponsorrow {
  display: flex !important;
  flex-direction: row;
  flex-shrink: 0;
  margin-top: 5%;
  height: 30vh ;
  min-height: 30vh;
}
.sponsorchild {
  height: 20vh;
  max-height: 20vh;
}

.galleryimg{
  height: 80vh;
}
@media screen and (max-width: 968px) {
  .galleryimg{
    margin-top: 20% ;
    height: min-content;
  }
}